* {
    padding: 0;
    margin: 0;
    text-decoration: none !important;
    list-style-type: none !important;
    /* border: 1px solid black; */
}

.container-main {
    max-width: 1140px;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: auto;
    margin-right: auto;
}

.bg-stone {
    position: absolute;
    bottom: 11.2%;
    z-index: 2;
    width: 100%;
}

.logo {
    cursor: pointer;
}

nav {
    height: 80px;
}

.bg-img {
    background-image: url(../images/bg-hero-img.png);
    background-position: 100% 100%;
    background-size: cover;
}

dl,
ol,
ul {
    margin-top: 0;
    margin-bottom: unset !important;
}

.ol,
ul {
    padding-left: unset !important;
}
.grass-img {
    position: absolute;
    bottom: -7%;
    width: 100%;
    z-index: 1;
}

.span1_rotate {
    transition: all 600ms linear;
    margin-top: 15px;
    transform: rotate(54deg);
}

.span3_rotate {
    transition: all 600ms linear;
    display: none !important;
}

.span2_rotate {
    transition: all 600ms linear;
    margin-top: -7px;
    transform: rotate(-51deg);
}

.shownav {
    left: 0 !important;
}

.overflow_hidden {
    overflow: hidden !important;
}

.span-icon {
    height: 3px !important;
    background: white;
    display: flex;
    margin-bottom: 4px;
    border-radius: 3px;
    z-index: 20 !important;
}

.heding-sdw {
    text-shadow: 0px 4px 0px rgba(0, 0, 0, 0.25);
    margin-right: -37px;
     z-index: 2;
}

.heding-sdw2 {
    position: relative;
    z-index: 2;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.hro-pra-sdw {
    text-align: center;
    text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    width: 740px;
}

.hro-bttn {
    padding: 16px 40px;
    border-radius: 44px;
    background: #4CBAFF;
    border: none;
}

.cloud2 {
    position: absolute;
    top: 12%;
   left: 0%;
}

.cloud4 {
    position: absolute;
    top: 40%;
    left: 16%;
}

.bg-pink {
    background-image: url(../images/section-img2.png);
    background-position: 100% 100%;
    background-size: cover;
}

.bg-pink-colr {
    background: #EEC4DC;
}

.blue-bg {
    background: #93D8FD;
    background-image: url(../images/blue-bg.png);
    background-position:cover;
    background-size:  100% 100%;
    width: 100% !important;
}

.green-bg {
    background: #9ACC44;
}

.fttr {
    background-image: url(../images/fttr-bg.png);
    background-position: 100% 100%;
    background-size: cover;
    width: 100% !important;
}

.color-pink {
    color: #EEC4DC;
    text-shadow: 1px 4px 0px #F683C5;
}

.rdmap-head {
    text-shadow: 1px 4px 0px #5BA72B;
}

.cloud-para {
    text-align: center;
    color: #565656;
    /* max-width: 650px; */
    max-width:714px;
}

.sllping-teddy {
    position: absolute;
    top: -0%;
    left: -7%;
}

.cloud-section {
    top: 10%;
    left: 14%;
}

.cloud-section2 {
    z-index: 1;
}

.blue-head {
    text-shadow: 1px 4px 0px #3D53A0;
}

.gif-img {
    position: relative;
    height: 490px !important;
    max-width: 440px !important;
    border-radius: 20.821px;
    border: 13.15px solid #FFF;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat, #FFF;
    box-shadow: 15.34152px 15.34152px 4.38329px 0px rgba(0, 0, 0, 0.25);
    z-index: 10 !important;
}

.gif-para {
    color: black;
    opacity: 0.7;
}

.big-rainbow {
    position: absolute;
    top: 5%;
    right: 0%;
    z-index: 5;
}

.card-box {
    position: relative;
    z-index: 3;
    padding: 20px;
    max-width: 637px;
    height: 293px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.60);
    background: rgba(255, 255, 255, 0.10);
}

.card-box:hover {
    cursor: pointer;
    background: #5BA72B;
}

.card-box:hover .card-svg svg path {
    z-index: 1;
    fill: white !important;
    opacity: 1 !important;
}

.m-unset {
    margin-bottom: unset !important;
}

.card-para {
    white-space: none !important;
    flex-wrap: nowrap !important;
}

.fttr-head {
    text-shadow: 2px 6px 0px #FB9100;
}

.fftr-bg {
    background: #FCBE69;
}

.txt-sadw {
    text-shadow: 0px 4px 4px rgba(255, 255, 255, 0.25);
    color: #4D4D4D;
}

.accordion-button:not(.collapsed) {
    color: unset !important;
    background-color: unset !important;
    box-shadow: unset !important;
}

.accordion-button:focus {
    border-color: unset !important;
    box-shadow: unset !important;
}

.accordion {
    width: 845px !important;
    background: transparent !important;
    background-color: transparent !important;
}

.accordion-button::after {
    width: var(--bs-accordion-btn-icon-width);
    height: var(--bs-accordion-btn-icon-width);
    background-image: url(../images/accrdn-bttn.png) !important;
}

.accordion-button {
    font-size: 18px !important;
}

.accordion-body {
    padding-top: unset !important;
    padding: var(--bs-accordion-body-padding-y) var(--bs-accordion-body-padding-x);
}

.green-section {
    position: absolute;
    top: -1%;
    width: 100% !important;
}

.shadow-img1 {
    position: absolute;
    top: 5%;
    left: 0%;
}

.green-tree {
    position: absolute;
    bottom: -22%;
    left: -20%;
    z-index: 2;
    display: none;
}

.green-tree2 {
    position: absolute;
    top: -20%;
    right: -10%;
    z-index: 5;
}

.blue-sec {
    z-index: 2;
    position: absolute;
    bottom: -10%;
}

.fttr-blur {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.fttr-teddy1 {
    position: absolute;
    bottom: 0%;
    left: 0;
    z-index: 1;
}

.fttr-teddy2 {
    position: absolute;
    bottom: 0%;
    right: 0;
    z-index: 1;
}

.line {
    margin-top: 40px;
    background: #B18e5e;
    max-width: 100%;
    height: 1px;
}

.cpyright {
    color: #61523e;
}

.rainbow-bg {
    position: absolute;
    top: 14%;
    left: 2.5%;
}

.pink-curve {
    position: absolute;
    top: -11%;
    z-index: 10 !important;
}

/* typing */
/* .line-1 {
    position: relative;
    top: 30%;
    width: 100%;
    margin: 0 auto;
    border-right: 2px solid rgba(255, 255, 255, .75);
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
}

.anim-typewriter {
    animation: typewriter 4s steps(2) 1s 1 normal both,
        blinkTextCursor 0ms steps(2) infinite normal;
}
@keyframes typewriter {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes blinkTextCursor {
    from {
        border-right-color: rgba(255, 255, 255, .75);
    }

    to {
        border-right-color: transparent;
    }
} */

.spping-nft {
    position: absolute;
    top: 12%;
}

.pink-nft {
    position: absolute;
    bottom: -4.6%;
    right: 0;
    z-index: 50;
    transform: rotate(-6.5deg);
}

.Btn-top {
    transform: rotate(-90deg);
}

#preloder {
    z-index: 300 !important;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 60;
    border: none;
    outline: none;
    background-color: #9adbfc;
    color: #5BA72B;
    cursor: pointer;
    padding: 12px;
    border-radius: 6px;
    font-size: 14px;
    border: 2px solid transparent;
}

.blue-curve {
    position: absolute;
    top: -5%;
    z-index: 2;
}

#myBtn:hover {
    background-color: black !important;
    border: 2px solid gray !important;
}

.overflow_hidden {
    overflow: hidden !important;
}

.hro-bttn:hover {
    background: #9ACC44;
}

.hro-bttn {
    transition: 300ms all;
}

.link {
    position: relative;
    z-index: 1;
    transition: 500ms all;
}

.link:hover svg circle {
    display: none;
}

.link:hover svg path {
    fill:#9ACC44;
}

.fttr-links:hover svg circle {
    stroke: white;
}

.fttr-links:hover svg path {
    fill: white;
}

.after-line {
    position: relative;

}

.after-line::after {
    content: "";
    width: 0%;
    height: 2px;
    background: white;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: 200ms all;
}

.after-line:hover:after {
    width: 100%;
}
.radius-accrdn{
    border-radius: 8px !important;
}
.cloud-box2{
    position: relative;
    z-index: 20 !important;
}
.mb-unset{
    margin-bottom: unset !important;
}
@media (max-width:992px) {
    .nav-bar-sm {
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100vh;
        background: #99DAFC;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        transition: all 500ms;
        z-index: 100;
    }

    .click_box {
        height: 10px;
        width: 25px;
        z-index: 110;
    }
}

@media (min-width:320px) {
    .nav-cloud {
        position: absolute;
        top: 5%;
        right: 0;
    }
    .fttr-teddy1 {
        width: 80px;
    }
    .fttr-teddy2 {
        width: 80px;
    }
    .fttr-teddy2 {
        position: absolute;
        bottom:5%;
        right: 0;
        z-index: 1;
    }
    
    .fttr-teddy1 {
        position: absolute;
        bottom: 5%;
        left: 0;
        z-index: 1;
    }
    .heding-sdw {
        text-shadow: 0px 4px 0px rgba(0, 0, 0, 0.25);
        margin-right: -21px;
    }

    .hro-bttn {
        padding: 6px 20px;
        border-radius: 44px;
        background: #4CBAFF;
        border: none;
    }

    .teddy-only {
        transform: translateY(48%);
    }

    .stone-trnst {
        position: relative;
        z-index: 7;
        transform: translateY(82%);

    }

    .grass-trans {
        position: relative;
        z-index: 4;
        transform: translateY(31%);
    }

    .cloud-box2 {
        box-shadow: 15.34152px 15.34152px 4.38329px 0px rgba(0, 0, 0, 0.25);
        background: white;
        padding: 20px;
        border-radius: 20px;

    }

    .grass-img {
        position: absolute;
        bottom: -7%;
        width: 100%;
        z-index: 1;
    }

    .gif-img {
        height: 348px !important;
    }

    .accordion-button {
        width: 845px;
        max-width: 845px !important;
        height: 67px !important;
        font-size: 16px !important;
        border-radius: 8px !important;
        border-bottom-left-radius: 8px !important;
    }
    .logo {
        width: 110px;
        height: 40px;
    }

    .big-rainbow {
        position: absolute;
        top: 5%;
        right: 0%;
        display: none;
    }

}

@media (min-width:435px) {
    .gif-img {
        height: 490px !important;
    }
}

@media (min-width:576px) {
    .hro-bttn {
        padding: 16px 40px;
        border-radius: 44px;
        background: #4CBAFF;
        border: none;
    }

}

@media (min-width:992px) {
    .cloud-box2 {
        box-shadow:unset !important ;

    }
    .fttr-teddy2 {
        position: absolute;
        bottom:0%;
        right: 0;
        z-index: 1;
    }
    
    .fttr-teddy1 {
        position: absolute;
        bottom: 0%;
        left: 0;
        z-index: 1;
    }
    .fttr-teddy1 {
        width: 210px;
    }

    .fttr-teddy2 {
        width: 180px;
    }

    .herotree-img1 {
        position: absolute;
        top: 37%;
        right: -13%;
        z-index: 10;
    }
    
    
    .herotree-img2 {
        position: absolute;
        top: 32%;
        left: -15%;
        z-index: 10;
    }
    
    .section2-height {
        height: 850px;
    }

    .bg-img {
        height: 800px !important;
    }

    .teddy-only {
        transform: translateY(5%);
    }

    .stone-trnst {
        position: relative;
        z-index: 5;
        transform: translateY(-89%);
    }

    .grass-trans {
        transform: translateY(-70%);
    }

    .heding-sdw {
        text-shadow: 0px 4px 0px rgba(0, 0, 0, 0.25);
        margin-right: -37px;
    }

    .cloud-box2 {
        background: transparent;
        padding: unset;
        border-radius: 0px;

    }

    .cloud-box {
        position: relative;
        z-index: 2;
        transform: translateY(-126%);
    }

    .cloud-big {
        position: relative;
        z-index: 1;
        transform: translateY(30%);
        margin-bottom: 150px;
    }

    .cloud {
        background: url(/assets/images/section-cloud2.png);
        background-position: center;
        height: 100vh;
        background-repeat: no-repeat;
    }

    .accordion-button {
        width: 845px;
        max-width: 845px !important;
        height: 67px !important;
        font-size: 22px !important;
        border-radius: 8px !important;
        border-bottom-left-radius: 8px !important;
    }

    .fttr-teddy1 {
        width: unset !important;
    }

    .fttr-teddy2 {
        width: unset !important;
    }

    .fttr-logo {
        padding-top: 100px;
        padding-bottom: 60px;
    }

    .logo {
        width: unset !important;
        height: unset !important;
    }

    .big-rainbow {
        position: absolute;
        top: 5%;
        right: 0%;
        display: block;
    }

}
@media (min-width:1200px) {
    .nav-cloud {
        position: absolute;
        top: 0%;
        right: 0;
    }
    .green-tree {
        position: absolute;
        bottom: -22%;
        left: -20%;
        z-index: 2;
        display: block;
    }
    .section2-height {
        height: 1050px;
    }
    .herotree-img1 {
        position: absolute;
        top: 37%;
        right: -1%;
        z-index: 10;
    }
    
    
    .herotree-img2 {
        position: absolute;
        top: 32%;
        left: -1%;
        z-index: 10;
    }
    
}